.app {
  max-width: 320px;
  margin: 0 auto;
  border: 20px solid rgb(202, 202, 202);
}

.yLine {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: rgb(202, 202, 202);
  border: 1px solid rgb(169, 169, 169);
  /* margin: 1px; */
}

.icon {
  background: url('/public/img/minesweeper-sprites_9TPZzv3.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
}
.zero {
  background-position: -17.5px -51.5px;
}
.one {
  background-position: 0px -70px;
}
.two {
  background-position: -15px -70px;
}
.three {
  background-position: -33px -70px;
}

.mine {
  background-position: -85px -50px;
}

.fill {
  background-position: 0px -50px;
}

.flag {
  background-position: -35px -50px;
}

.question {
  background-position: -50px -50px;
}
